[Unit]
Description=MasterMonitor Local Server (Edge Gateway)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/globalalertz/MasterMonitorServer
Environment="PATH=/var/www/globalalertz/MasterMonitorServer/venv/bin"
ExecStart=/var/www/globalalertz/MasterMonitorServer/venv/bin/python main.py

[Install]
WantedBy=multi-user.target
