[Unit]
Description=MasterMonitor Local Server (Edge Gateway)
After=network.target

[Service]
# User/Group not needed for systemd --user
WorkingDirectory=%h/MasterMonitorServer
Environment="PATH=%h/MasterMonitorServer/venv/bin"
ExecStart=%h/MasterMonitorServer/venv/bin/python main.py
Restart=always

[Install]
WantedBy=default.target
